{% extends "cuentasUsuario/base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}


<div class="container-fluid" style="padding: 50px; ">

  <h1>Login</h1>
  <div class="col-xl-6">
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="table-responsive" style="background-color: black;">
        <table class="table table-secondary">
          
          <tbody>
            <tr>
              <td>{{ form.username.label_tag }}</td>
              <td>{{ form.username }}</td>
            </tr>
            <tr>
              <td>{{ form.password.label_tag }}</td>
              <td>{{ form.password }}</td>
            </tr>
            <tr>
              <td><input class="btn-success" type="submit" value="login" />
              <input type="hidden" name="next" value="{{ next }}" /></td>
              <td><a href="{% url 'password_reset' %}">Lost password?</a></td>
            </tr>
            
          </tbody>
        </table>
      
      </div>
    </form>
  
  </div>
</div>



{# Assumes you setup the password_reset view in your URLconf #}


{% endblock %}