{% extends 'cuentasUsuario/base.html' %}

{% load static %}

{% block title %} 
- Figuritas Anime
{% endblock %}

{% block content %}

<div class="row" style="margin-top: 3%; margin-bottom: 1%;">
<div class="col" >
  <h1 id="bannerAnime" href="" ></i>{{producto.categoria}}</h1> 
</div>


</div>

  <div class="row">
  {% if producto %}
    
  <div class="row" id="contenido">
    <div class="col-xl-8" id="contenido">
      <h1>{{producto.nombre}}</h1>
      <div class="row">
        <img src="{{producto.imagen.url}}" alt="">
      </div>
    </div>
    <div class="col-xl-4">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">
              <h1>Caracteristicas:</h1>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th>
                <h1 class="desc">Descripcion:</h1>
            </th>
            <th>
                {{producto.descripcion}}
            </th>
          </tr>
          <tr>
            <th>
                <h1 class="marca">Marca:</h1>
            </th>
            <th>
                {{producto.marca}}
            </th>
          </tr>
          <tr>
            <th>
              <h1 class="precio">Precio:</h1>
            </th>
            <th>
              <h1 class="precio">${{producto.precio}}</h1>
            </th>
          </tr>
        </tbody>
      </table>
      <a class="btn btn-sm btn-success" type="button" href="{% url 'carro:agregar' producto.id 'index' %}"> Agregar al carrito</a>
    </div>
    </div>
    </div>
    </div>


  {% endif %}
  </div>
    
{% endblock %}
