{% extends 'cuentasUsuario/base.html' %}

{% load static %}

{% block title %} 
- Inicio
{% endblock %}

{% block content %}
<div class="row">


    <div class="col">
      <div id="carousel1" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
          <li data-bs-target="#carousel1" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="First slide"></li>
          <li data-bs-target="#carousel1" data-bs-slide-to="1" aria-label="Second slide"></li>
          <li data-bs-target="#carousel1" data-bs-slide-to="2" aria-label="Third slide"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img src="{% static 'images/rengoku.jpg' %}" class="mx-auto w-100 d-block" alt="First slide">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/figura2.jpeg' %}" class="mx-auto w-100 d-block" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/figura3.jpg' %}" class="mx-auto w-100 d-block" alt="Third slide">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>


  <div class="row" style="margin-top: 3%; margin-bottom: 1%;">
    <div class="col">

      <h1>Articulos recomentados</h1>
    </div>

  </div>


  <div class="row">

    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6">

      <div class="card">
        <div class="img_card">
          <img src="{% static 'images/Chimuelo.webp' %}" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title"><a href="producto001.html">Poster Shimuelo</a></h5>
          <h6 class="card-subtitle mb-2 text-muted "> $5.000 </h6>
          <p class="card-text">Dimensiones: 50X30 <br>Marca: Chancho <br> Materiales: papel confort</p>
          <a class="btn btn-outline-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#Id2"
            aria-controls="Id2"> Agregar al carrito</a>
        </div>
      </div>

    </div>


    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6">

      <div class="card">
        <div class="img_card"><img src="{% static 'images/GokuSS4.JPG' %}" class="card-img-top" alt="..."></div>

        <div class="card-body">
          <h5 class="card-title"> <a href="producto002.html">Kokun SS4</a> </h5>
          <h6 class="card-subtitle mb-2 text-muted "> $70.000 </h6>
          <p class="card-text"> Altura: 30cm <br>Marca: EMPRESTAME <br> Materiales: Caucho </p>
          <a class="btn btn-outline-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#Id2"
            aria-controls="Id2"> Agregar al carrito</a>
        </div>
      </div>

    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6">

      <div class="card">
        <div class="img_card">
          <img src="{% static 'images/RimuruTempest.JPG' %}" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title"> <a href="producto003.html">Rimuru Tempest</a> </h5>
          <h6 class="card-subtitle mb-2 text-muted "> $40.000 </h6>
          <p class="card-text"> Altura: 25cm <br>Marca: EMPRESTAME <br> Materiales: Tolueno </p>
          <a class="btn btn-outline-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#Id2"
            aria-controls="Id2"> Agregar al carrito</a>
        </div>
      </div>

    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6">

      <div class="card">
        <div class="img_card">
          <img src="{% static 'images/GogetaSSB.JPG' %}" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title"> <a href="producto004.html">GogetaSSB</a> </h5>
          <h6 class="card-subtitle mb-2 text-muted "> $50.000 </h6>
          <p class="card-text"> Altura: 25cm <br>Marca: EMPRESTAME <br> Materiales: Tolueno </p>
          <a class="btn btn-outline-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#Id2"
            aria-controls="Id2"> Agregar al carrito</a>
        </div>
      </div>

    </div>

  </div>
</div>
</div>
{% endblock %}

